email-validator>=2.2.0
flask>=3.1.1
flask-sqlalchemy>=3.1.1
gunicorn>=23.0.0
matplotlib>=3.10.3
numpy>=2.3.1
pandas>=2.3.1
psycopg2-binary>=2.9.10
pytest>=8.4.1
python-fasthtml>=0.12.21
scikit-learn>=1.7.1
scipy>=1.16.0
setuptools>=80.9.0
